<h2>Add a cd:</h2>
<form action="/cds/add" method="post">
  <div class="form-group">
    <label for="cd-artist">New Cd name</label>
    <input class="form-control" type="text" name="cd-artist" id="cd-artist">
  </div>
  <button class="btn" type="submit" name="add-cd-button">Add</button>
</form>
